.footer-container {
    margin: 10px;
}

.head-footer {
    margin: 10px;
    margin-bottom: 20px;
}

.footer-content {
    margin: 10px;
}

.item-1 {
    margin: 10px;
}

.item-2 {
    margin: 10px;
}